@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dummy_hsl_selector {
    --dummy_hsl: hsl(0, 0%, 0%);
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --vm-secondary: 82 57% 42%;
    --vm-secondary-2: 82 57% 33%;

    --vm-text-gray: 0 0% 31%;
    --vm-text-gray-secondary: 0 0% 65%;

    --vm-lightgreen: 80 37% 97%;

    --vm-bg-gray: 0 0% 85%;
    --vm-bg-lightgray: 0 0% 93%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --vm-secondary: 82 100% 24%;

    --vm-gray: 0 0% 74%;

    --vm-lightgreen: 75 7% 12%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .categories-title {
    text-shadow: 2px 0 #b0cb82, -2px 0 #b0cb82, 0 2px #b0cb82, 0 -2px #b0cb82, 1px 1px #b0cb82, -1px -1px #b0cb82,
      1px -1px #b0cb82, -1px 1px #b0cb82;
  }

  .categories-title-xs {
    text-shadow: 1px 0 #b0cb82, -1px 0 #b0cb82, 0 1px #b0cb82, 0 -1px #b0cb82, 1px 1px #b0cb82, -1px -1px #b0cb82,
      1px -1px #b0cb82, -1px 1px #b0cb82;
  }

  .categories-card-title {
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000,
      1px -1px #000000, -1px 1px #000000;
  }

  .max-w-8xl {
    max-width: 90rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}